$primary-light: #A5CCF4;
$primary-main: #4A99E9;
$primary-dark: #428AD2;
$state-error: #E03C39;
$white: #E7E7E8;
$grey-inactive-bg:#F0F3F4;
$grey-container-line: #F0F3F4;
$grey-hover: #E7E7E8;
$grey-outline: #D1D9DD;
$grey-text-2: #566370;
$black: #000000;

@mixin h1 {
  font-family: 'Inter', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 61.6px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin h2 {
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 48.4px;
  letter-spacing: -0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin h3 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 35.2px;
  letter-spacing: -0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin h4 {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 27.5px;
  letter-spacing: -0.0025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin h5 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin h6 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  letter-spacing: 0.0015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin subtitle-1 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 19.8px;
  letter-spacing: 0.015em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin subtitle-2 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: 0.001em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin body-1 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin body-1-bold {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin body-2 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  letter-spacing: 0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin body-2-bold {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15.4px;
  letter-spacing: 0.025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin mini {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin button-small {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin button-medium {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0025em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@mixin button-large {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0025em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

:root {
  --primary-light: #A5CCF4;
  --primary-main: #4A99E9;
  --primary-dark: #428AD2;
  --state-error: #E03C39;
  --white: #E7E7E8;
  --grey-inactive-bg:#F0F3F4;
  --grey-container-line: #F0F3F4;
  --grey-hover: #E7E7E8;
  --grey-outline: #D1D9DD;
  --grey-text-2: #566370;
  --black: #000000;
}