.large-sidebar{
  width: 242px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;

  .large-sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .theme-switch{
      margin-right: 32px;
    }
  }

  .large-sidebar-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 16px;
  }

  .button{
    margin-top: 16px;
  }


}