@import '../../../../variables.scss';
.actions-container{
  display: flex;
  justify-content: space-between;
  width: 215px;
  margin-left: 56px;
  @include body-1;
  color: $grey-text-2;
  .comments{
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
  }
  .retweets{
    display: flex;
    align-items: center;
    gap:8px;
    user-select: none;
  }
  .likes{
    display: flex;
    align-items: center;
    gap:8px;
    user-select: none;
  }
}