@import "../../../variables";
.tweet-detail{
  display: flex;
  padding: 32px;
  .sidebar-container{
    height: 100%;
  }
  .tweet-detail-container{
    width: 60%;
    border-right: 1px solid $grey-container-line;
    border-left: 1px solid $grey-container-line;

    .container-header{
      display: flex;
      color: black;
      justify-content: space-between;
      padding-right: 32px;
      .title{
        @include h5;
        margin-bottom: 16px;
        margin-left: 16px;
        color: black;
      }
      .arrow{
        margin-right: 32px;
        cursor: pointer;
      }
    }

    .tweet{
      max-width: 100%;
      overflow: hidden;
    }

  }
  &.dark-mode{
    background-color: black;
    .tweet-detail-container{
      border-left: 1px solid $grey-text-2;
      border-right: 1px solid $grey-text-2;
        .container-header{
            color: white;
            .title{
            color: white;
            }
        }
    }
  }
}